doctype html
html
	include meta
//- head
//- 	include meta
body
	.loadingPage
		.pic
			.txt 0%

	.mainContainer.channel_1
		#header 
			a.logoWrap(href='http://broadband.hinet.net/',target='_blank')
			.menuBtn.phoneShow
			.menuWrap.phoneHide
				.clozBtn
				.scrollWrap
					.mBtn.lineBtn
					.mBtn.FbBtn
					.mBtn.pageMBtn.mBtn_1
					.mBtn.pageMBtn.mBtn_2
					.mBtn.pageMBtn.mBtn_3
					.mBtn.pageMBtn.mBtn_4
					.subBtnWrap_4.subBtnWrap
						.subBtn.sBtn_1
						.subBtn.sBtn_2
						.subBtn.sBtn_3
						.subBtn.sBtn_4
						.subBtn.sBtn_5
						.subBtn.sBtn_6
					.mBtn.pageMBtn.mBtn_5.gtmTrackingBtn(data-gtm='applym-conv')
		.pageWrap
			.page.p1
				.pageContainer.perspectiveWrap
					.phoneShow
						.pic
						.btnWrap
							//- .btn1
							a.btn1.gtmTrackingBtn(data-gtm='apply1_m-conv',href='https://eshop.cht.com.tw/Web/Personal/Internet/UnfixIndex?megaID=7880A0B5-5B6D-472B-9089-4A60C383943D',target='_blank')
							a.btn2.gtmTrackingBtn(data-gtm='tel1_m-conv',href='https://eshop.cht.com.tw/Web/Personal/internet/formservice3/?PromoName=%E9%99%90%E6%99%82&Rate=106%E5%B9%B4HiNet%E5%85%89%E4%B8%96%E4%BB%A3(%E9%9D%9E%E5%9B%BA%E5%AE%9A%E5%88%B6)%E4%BF%83%E9%8A%B7%E6%96%B9%E6%A1%88(16M~300M)',target='_blank')
					.phoneHide
						.lightWrap.hAni
							.light
							.light2
						.pic12.rBAni.man2.hAni
						.pic13.lBAni.man2.hAni
						.pic10.rBAni.man1.hAni
						.pic11.lBAni.man1.hAni
						.pic1.roleAni.perspectiveWrap.hAni
							.pic2.txtAni.hAni
							.pic3.txtAni.hAni
							.pic4.txtAni.hAni
							.pic5.txtAni.hAni
							.pic6.txtAni.hAni
							.pic7.txtAni.hAni
							.pic8.txtAni.hAni
							.pic9.txtAni.hAni
						.playBtn
							.pb2.hAni
							.pb1.lAni.hAni
							.pb3.tAni.hAni
				.btnWrap.phoneHide
					a.btn1.gtmTrackingBtn(data-gtm='apply1-conv',href='https://eshop.cht.com.tw/Web/Personal/Internet/UnfixIndex?megaID=7880A0B5-5B6D-472B-9089-4A60C383943D',target='_blank')
					a.btn2.gtmTrackingBtn(data-gtm='tel1-conv',href='https://eshop.cht.com.tw/Web/Personal/internet/formservice3/?PromoName=%E9%99%90%E6%99%82&Rate=106%E5%B9%B4HiNet%E5%85%89%E4%B8%96%E4%BB%A3(%E9%9D%9E%E5%9B%BA%E5%AE%9A%E5%88%B6)%E4%BF%83%E9%8A%B7%E6%96%B9%E6%A1%88(16M~300M)',target='_blank')
			.page.p2
				.pageContainer.channel_1.hasSub
					.phoneShow
						.pic
					.phoneHide
						.contentContainer.content_1
							.picWrap.hAni
								.light.hAni
								.p1
								.p2
								.p3
							.txtWrap
								.t1.hAni
								.title
									.tt1.hAni
									.tt2.hAni
									.tt3.hAni
									.tt4.hAni
									.tt5.hAni
									.tt6.hAni
									.tt7.hAni
									.tt8.hAni
								.t2.hAni.lAni
								.t3.hAni.lAni
								.t4.hAni.lAni
								.t5.hAni.lAni
						.contentContainer.content_2
							.txtWrap 
								.t1.hAni
								.t2.hAni.lAni
								.t3.hAni
								.t4.hAni.lAni
								.t5.hAni.lAni
								.t6.hAni.lAni
								.t7.hAni.lAni
								.t8.hAni.lAni
						.contentTab
							.tab.tab_1
							.tab.tab_2
							//- .tab.tab_3
			.page.p3
				.pageContainer
					.phoneShow
						.pic
					.phoneHide
						.txtWrap
							.title
								.tt1.hAni
								.tt2.hAni
								.tt3.hAni
								.tt4.hAni
							.t1.hAni
							.t2.hAni.lAni
							.t3.hAni.lAni
							.t4.hAni.rAni
							.t5.hAni.lAni
			.page.p4.channel_1.hasSub
				.pageContentContainer
					.pageContainer.pageContainer_1
						.phoneShow
							.pic 
							.subBtn1.sBtn
							.subBtn2.sBtn
							.subBtn3.sBtn
							.subBtn4.sBtn
							.subBtn5.sBtn
						.phoneHide
							.txtWrap
								.man1.hAni.bAni
								.man2.hAni.bAni
								.title
									.tt1.hAni
									.tt2.hAni
									.tt3.hAni
									.tt4.hAni
								.line.hAni
								.t1.hAni.subBtn1.sBtn.tAni
								.line.hAni
								.t2.hAni.subBtn2.sBtn.tAni
								.line.hAni
								.t3.hAni.subBtn3.sBtn.tAni
								.line.hAni
								.t4.hAni.subBtn4.sBtn.tAni
								.line.hAni
								.t5.hAni.subBtn5.sBtn.tAni
								.line.hAni
					.pageContainer.pageContainer_2.channel_1.hasSub
						.phoneShow
							.pic 
						.phoneHide
							.contentContainer.content_1
								.picWrap
								.txtWrap
									.t1.hAni
									.title
										.tt1.hAni
										.tt2.hAni
										.tt3.hAni
										.tt4.hAni
										.tt5.hAni
										.tt6.hAni
										.tt7.hAni
										.tt8.hAni
									.t2.hAni.lAni
									.t3.hAni.lAni
									.t4.hAni.lAni
									.t5.hAni.lAni
							.contentContainer.content_2
								.txtWrap
									.t1.hAni.rBAni
									.t2.hAni.rBAni
									.t3.hAni.lBAni
									.t4.hAni.popAni
									.t5.hAni.popAni
									.t6.hAni.bAni 
							.contentTab
								.tab.tab_1
								.tab.tab_2
					.pageContainer.pageContainer_3.channel_1.hasSub
						.phoneShow
							.pic 
						.phoneHide
							.contentContainer.content_1
								.picWrap
								.txtWrap
									.t1.hAni
									.title
										.tt1.hAni
										.tt2.hAni
										.tt3.hAni
										.tt4.hAni
										.tt5.hAni
										.tt6.hAni
										.tt7.hAni
										.tt8.hAni
									.t2.hAni.lAni
									.t3.hAni.lAni
									.t4.hAni.lAni
									.t5.hAni.lAni
							.contentContainer.content_2
								.txtWrap
									.t1.hAni
									.t2.popAni.hAni
							.contentTab
								.tab.tab_1
								.tab.tab_2
					.pageContainer.pageContainer_4.channel_1
						.phoneShow
							.pic 
						.phoneHide
							.picWrap
							.txtWrap
								.t1.hAni
								.title
									.tt1.hAni
									.tt2.hAni
									.tt3.hAni
									.tt4.hAni
									.tt5.hAni
									.tt6.hAni
									.tt7.hAni
									.tt8.hAni
								.t2.hAni.lAni
								.t3.hAni.lAni
								.t4.hAni.lAni
								.t5.hAni.lAni
								.t6.hAni.lAni
								.t7.hAni.lAni
					.pageContainer.pageContainer_5.channel_1.hasSub
						.phoneShow
							.pic 
						.phoneHide
							.contentContainer.content_1
								.picWrap
								.txtWrap
									.t1.hAni
									.title
										.tt1.hAni
										.tt2.hAni
										.tt3.hAni
										.tt4.hAni
										.tt5.hAni
									.t2.hAni.lAni
									.t3.hAni.lAni
									.t4.hAni.lAni
									.t5.hAni.lAni
							.contentContainer.content_2
								.txtWrap
									.t1.hAni.tAni
									.t2.hAni.tAni
									.t3.hAni.lAni
									.t4.hAni.tAni
									.t5.hAni.tAni
									.t6.hAni.lAni
									.t7.hAni.tAni
									.t8.hAni.tAni
									.t9.hAni.lAni
							.contentContainer.content_3
								.txtWrap
									.t1.hAni.tAni
									.t2.hAni.tAni
									.t3.hAni.lAni
									.t4.hAni.tAni
									.t5.hAni.tAni
									.t6.hAni.lAni
							.contentTab
								.tab.tab_1
								.tab.tab_2
								.tab.tab_3
					.pageContainer.pageContainer_6.channel_1.hasSub
						.phoneShow
							.pic 
						.phoneHide
							.contentContainer.content_1
								.picWrap
									.p1.hAni
									.light.l1.hAni
									.light.l2.hAni
									.p2.hAni.bAni
									.p3.hAni.bAni
									.p4.hAni.bAni

								.txtWrap
									.t1.hAni
									.title
										.tt1.hAni
										.tt2.hAni
										.tt3.hAni
										.tt4.hAni
									.t2.hAni.lAni
									.t3.hAni.lAni
									.t4.hAni.lAni
									.t5.hAni.lAni
							.contentContainer.content_2
								.txtWrap
									.t1.hAni
									.t2.hAni.lAni
									.t3.hAni.rAni
									.t4.hAni.popAni
									.t5.hAni.popAni
							.contentTab
								.tab.tab_1
								.tab.tab_2
			.page.p5
				.pageContainer
					.phoneShow
						.pic
						a.sBtn1.gtmTrackingBtn(data-gtm='applyL_m-conv',href='https://eshop.cht.com.tw/Web/Personal/Internet/UnfixIndex?megaID=7880A0B5-5B6D-472B-9089-4A60C383943D',target='_blank')
						a.sBtn2.gtmTrackingBtn(data-gtm='telL_m-conv',href='https://eshop.cht.com.tw/Web/Personal/internet/formservice3/?PromoName=%E9%99%90%E6%99%82&Rate=106%E5%B9%B4HiNet%E5%85%89%E4%B8%96%E4%BB%A3(%E9%9D%9E%E5%9B%BA%E5%AE%9A%E5%88%B6)%E4%BF%83%E9%8A%B7%E6%96%B9%E6%A1%88(16M~300M)',target='_blank')
						.sBtn3
					.phoneHide
						.picWrap.hAni
							.p1.lAni
							.p2.lAni
							.p3
							.p4.lAni
							.p5.lAni
						.txtWrap
							.t1.hAni.bAni
							a.t2.hAni.bAni.gtmTrackingBtn(data-gtm='applyL-conv',href='https://eshop.cht.com.tw/Web/Personal/Internet/UnfixIndex?megaID=7880A0B5-5B6D-472B-9089-4A60C383943D',target='_blank') 
							a.t3.hAni.bAni.gtmTrackingBtn(data-gtm='telL-conv',href='https://eshop.cht.com.tw/Web/Personal/internet/formservice3/?PromoName=%E9%99%90%E6%99%82&Rate=106%E5%B9%B4HiNet%E5%85%89%E4%B8%96%E4%BB%A3(%E9%9D%9E%E5%9B%BA%E5%AE%9A%E5%88%B6)%E4%BF%83%E9%8A%B7%E6%96%B9%E6%A1%88(16M~300M)',target='_blank')
							.t4.hAni.bAni 

		.switcherWrap
			.prevBtn
				.pic
				.txt
			.nextBtn
				.pic
				.txt
	.loadPicWrap(style='display:none')



	
	script(type='text/javascript', src='js/index.js')
		
