
title HiNet光世代網路神功 | 中華電信數位門市
meta(charset='utf-8')     
meta(name='viewport', content='width=640',user-scalable=0)
// hiding the Browser’s User Interface
meta(name='apple-mobile-web-app-capable', content='yes')     
meta(name='mobile-web-app-capable', content='yes')
// meta start
meta(name='title', content='HiNet光世代網路神功 | 中華電信數位門市')     
meta(name='description', content="獨霸武林占據通訊業龍頭的最強網路，功效遍及世界各地無遠弗屆，光纖普及率遍及各地，居功第一名，絕對可被世世代代的人傳頌為第一強")     
meta(name='keywords', content='HiNet光世代,光世代,中華電信數位門市,上網,光纖,寬頻,寬頻上網,ADSL,上網速度,武功祕笈,網路神功,功夫,傳輸速度,國外頻寬,低延遲率,網路安全,金鐘罩,防毒防駭,最佳品質,最優ISP')     
meta(name='copyright', content='')    
 
link(rel='image_src', href='')
// iOS 6
meta(name='apple-mobile-web-app-title', content='')
// OG
meta(property='og:title', content='HiNet光世代網路神功 | 中華電信數位門市')     
meta(property='og:site_name', content='HiNet光世代網路神功 | 中華電信數位門市')     
meta(property='og:description', content="獨霸武林占據通訊業龍頭的最強網路，功效遍及世界各地無遠弗屆，光纖普及率遍及各地，居功第一名，絕對可被世世代代的人傳頌為第一強")     
meta(property='og:type', content='website')     
meta(property='og:image', content='')     
meta(property='og:url', content='')     
meta(property='fb:app_id', content='')

// css start
//- link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
//- link(rel='stylesheet', href='css/swiper.min.css')
link(rel='stylesheet', href='css/default.css')

// js start
script(type='text/javascript', src='js/jquery.js')
script(type='text/javascript', src='js/jquery.moblie.min.js')
//- script(type='text/javascript', src='js/lib/swiper.min.js')
script(type='text/javascript', src='js/lib/TweenMax.min.js')
script(type='text/javascript', src='js/lib/TimelineMax.min.js')
script(type='text/javascript', src='js/lib/jquery.waitforimages.min.js')
//- script(type='text/javascript', src='js/lib/jquery.validate.min.js')
// archung js
script(type='text/javascript', src='js/ChungTool.js')    
//- script(type='text/javascript', src='js/FBTool.js')

script.
	if (!ChungTool.isOnline()) {
	  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
	  }
